/* Body */

.bg-container {
  min-height: 92vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 767px) {
  .bg-container {
    max-height: 90vh;
  }
}

.body {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  margin-top: 20px;
}

@media screen and (max-width: 766px) {
  .body {
    width: 90%;
  }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
  .body {
    width: 90%;
  }

  .guess-image-container {
    width: 75%;
  }
}

.sub-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 992px) {
  .body {
    display: flex;
    flex-direction: row;
    width: 98%;
    justify-content: center;
  }
}

.guess-image-container .guess-image {
  width: 100%;
  border-radius: 5px;
  box-shadow: 10px 10px 20px 0px #00000050;
}

@media screen and (min-width: 992px) {
  .guess-image-container {
    width: 600px;
    margin-left: 30px;
  }
}

/*Tab Items */

.tab-list-container {
  display: flex;
  width: 260px;
  gap: 10px;
  list-style-type: none;
  padding: 0;
  justify-content: space-between;
  margin-bottom: 0;
}

@media screen and (min-width: 767px) {
  .tab-list-container {
    width: 300px;
  }
}

/* Tab Images */

.tab-images-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  justify-content: center;
  margin-top: 5px;
  max-width: 900px;
}

@media screen and (min-width: 992px) {
  .tab-images-container {
    margin-bottom: 100px;
  }
}

/* Game Over */

.game-over-container {
  background-image: radial-gradient(#f588d8, #c0a3e5);
  height: 480px;
  width: 90%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 20px;
}

@media screen and (min-width: 767px) and (max-width: 991px) {
  .game-over-container {
    height: 540px;
    width: 70%;
    padding-top: 40px;
  }
}

@media screen and (min-width: 992px) {
  .game-over-container {
    height: 540px;
    width: 40%;
    padding-bottom: 20px;
  }
}

.trophy-icon {
  width: 300px;
}

@media screen and (min-width: 767px) {
  .trophy-icon {
    width: 330px;
  }
}

.your-score-text {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

.user-score {
  color: #fec653;
  font-size: 45px;
  font-weight: 500;
  margin-top: 5px;
  font-family: 'Roboto';
  margin-bottom: 20px;
}

.restart-button {
  border: 0;
  background-color: #cf60c8;
  border-radius: 10px;
  height: 55px;
  width: 150px;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.restart-button:hover {
  box-shadow: 0px 20px 30px 0px #00000030;
  cursor: pointer;
  outline: none;
}

.reset-icon {
  width: 22px;
}
